*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.menu{
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    padding-left: 80px;
    padding-right: 100px;
}

.logo:hover{
    opacity: 0.6;
}

.listamenu{
    display: flex;
    list-style: none;
}

.listamenu a{
    color: #FDFDFD;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    padding-left: 25px;
    text-decoration: none;
}

.listamenu a:hover{
    color: #d1cdcd;
}

#bannerprincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
}

#ilustra-banner{
    padding-top: 145px;
    padding-bottom: 66px;
}

.textobanner h1{
    color: #f5418e;
    width: 512px;
    font-weight: 700;
    font-size: 60px;
}

.textobanner h2{
    color: #5c5c5c;
    font-weight: 500;
    opacity: 0.9;
    padding-top: 19px;
    padding-bottom: 32px;
}

.botaobranco{
    background-color: #ffffff;
    font-size: 27px;
    font-weight: 400;
    color: #f5418e;
    border: #f5418e solid;
    border-radius: 50px;
    padding: 10px 20px;
}

.botaobranco:hover{
    transform: scale(1.1);
    transition: all 0.2s;
}

.botaobranco a{
    text-decoration: none;
    color: #f5418e;
}

.botaorosa{
    width: 233px;
    height: 51px;
    background-color: #f5418e;
    font-size: 20px;
    font-weight: 400;
    align-content: center;
    color: #ffffff;
    border: none;
    border-radius: 62px;
    padding: 10px 20px;
}

.botaorosa:hover{
    transform: scale(1.1);
    transition: all 0.2s;
}

#conhecacursospost{
    background: #F7F7F7;
    text-align: center;
    padding-top: 60px;
}

.cardspost{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 45px;
}

.cardcursospost{
    width: 338px;
    flex-wrap: wrap;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.cardcursospost img{
    height: max-content;
    width: max-content;
    align-items: stretch; 
    padding-bottom: 45px;
}

#indepfin{
    height: 60% !important; 
    padding-bottom: 37px !important;
}

.cardcursospost h3{
    font-weight: 700;
    font-size: 29px;
    font-style: bold;
    line-height: 29px;
    color: #FF4081;
    
    }

.cardcursospost p{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

#depoimentos {
    background-color: #ffffff;
    padding: 5%;

}

#depoimentos2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.depoimentos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 600px;
}

#depoimentos h1 {
    color: #2e948a;
    font-weight: 700;
    font-size: 37px;
    text-align: left;
    padding: 0px 10px 78px 10%;
}

.depoimentos h2 {
    font-style: light;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    padding: 5px;
}

.depoimentos h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    padding: 5px;
}

.depos {
    width: 104px;
    height: 104px;
    padding: 20px;
}

#maisconteudo {
    display: flex;
    background-color: #f6f6f6;
    padding-top: 91px;
    padding-bottom: 119px;
    text-align: left;
}

.retangulo {
    background: #c4c4c4;
    width: 319px;
    height: 193px;
}

.itensblog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

}

#maisconteudo h1 {
    text-align: left;
    padding-top: 0px;
    padding-left: 128px;
    color: #2e948a;
    font-weight: 700;
    font-size: 37px;
}

.itensblog h2 {
    color: #2e948a;
    padding-left: 0px;
    font-weight: 700;
    font-size: 27px;
}

/* .rodape{
    background-color: #2e948a;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    padding-left: 80px;
    padding-right: 100px;
}
.itensmenu{
    list-style: none;
}
.rodape a{
    text-decoration: none;
}
.botaorodape{
    box-sizing: border-box;
    border: 2px solid #ffffff;
    background-color: #2e948a;
    border-radius: 62px;
    text-align: center;
    font-style: regular;
    font-weight: 400;
    font-size: 20px;
    width: 300px;
    height: 50px;
    margin: 8px;
    color:#ffffff;
    cursor: pointer;
} */

#contatoimagem {
    width: 444px;
    height: 444px;
    padding-top: 70px;
    padding-bottom: 70px;
}

footer {
    background: #419488;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

.listafooter {
    list-style: none;
    padding: 8px;
}


.listafooter a {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.listafooter a:hover {
    color: #d1cdcd;
}

.botoesfooter {
    display: flex;
    flex-direction: column;
}

.botaofooter {
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    width: 300px;
    height: 50px;
    margin: 8px;
    color: #FFFFFF;
    background-color: #419488;
    cursor: pointer;
}

.botaofooter:hover {
    background-color: #30655d;
}


@media only screen and (max-width:834px) {
    .logo {
        width: 150px;
    }

    .listamenu a {
        font-weight: 500;
        font-size: 18px;

    }

    /* aqui vai o seu */

    .botaofooter {
        font-size: 18px;
        width: 200px;
        
    }
}

@media only screen and (max-width:568px) {
    .logo {
        width: 90px;
    }

    .menu {
        padding: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .listamenu a {
        font-weight: 500;
        font-size: 13px;
        padding-left: 10px;
        line-height: 0px;
    }

    /* aqui vai o seu */

    footer {
        padding: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .listafooter {
        padding: 0px;

    }

    .listaul {
        padding-left: 0px;
    }

    .listafooter a {
        font-size: 11px;
        line-height: 23px;
    }

    .botaofooter {
        font-size: 12px;
        line-height: 0px;
        width: 120px;
        height: 25px;
        margin: 4px;
    }

}