*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

.menu{
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    padding-left: 80px;
    padding-right: 100px;
}

.logo:hover{
    opacity: 0.6;
}

.listamenu{
    display: flex;
    list-style: none;
}

.listamenu a{
    color: #FDFDFD;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    padding-left: 25px;
    text-decoration: none;
}

.listamenu a:hover{
    color: #d1cdcd;
}

#bannerprincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
}

#ilustra-banner{
    width: 501px;
    height: 511px;
    margin-top: 145px;
    margin-bottom: 66px;
}

.textobanner h1{
    color: #f5418e;
    width: 512px;
    font-weight: 700;
    font-size: 60px;
}

.textobanner h2{
    color: #5c5c5c;
    font-weight: 500;
    opacity: 0.9;
    padding-top: 19px;
    padding-bottom: 32px;
}

.botaobranco{
    background-color: #ffffff;
    font-size: 27px;
    font-weight: 400;
    color: #f5418e;
    border: #f5418e solid;
    border-radius: 50px;
    padding: 10px 20px;
}

.botaobranco:hover{
    transform: scale(1.1);
    transition: all 0.2s;
}

.botaobranco a{
    text-decoration: none;
    color: #f5418e;
}

.botaobranco2 {
    background-color: #ffffff;
    font-size: 27px;
    font-weight: 400;
    color: #f5418e;
    border: #f5418e solid;
    padding: 10px 20px;
    border-radius: 50px;
}
.botaobranco2:hover{
    transform: scale(1.1);
    transition: all 0.2s;
}

.botaobranco2 a{
    text-decoration: none;
    color: #f5418e;
}

.botaorosa{
    width: 233px;
    height: 51px;
    background-color: #f5418e;
    font-size: 20px;
    font-weight: 400;
    align-content: center;
    color: #ffffff;
    border: none;
    border-radius: 62px;
    padding: 10px 20px;
}

.botaorosa:hover{
    transform: scale(1.1);
    transition: all 0.2s;
}

.cardspost{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 45px;
}

#conhecacursospost{
    background: #F7F7F7;
    text-align: center;
    padding-top: 60px;
    padding-left: 129x;
}

.cardcursospost{    
    width: 400px;
    flex-wrap: wrap;
    padding-bottom: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content:last baseline;
}

.cardcursospost img{
    display: flex;
    height: 300px;
    /* width: 270px; */
    justify-content: space-evenly;
    padding-bottom: 43px;
}

.cardcursospost h3{
    display: flex;
    font-weight: 700;
    font-size: 29px;
    font-style: bold;
    line-height: 29px;
    padding-bottom: 20px;
    color: #FF4081;
    justify-content: space-evenly;
    text-align: center;
    }

.cardcursospost p{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    padding-bottom: 30px;
    color: #000000;
}

#depoimentos {
    background-color: #ffffff;
    padding-left: 8%;
}

#depoimentos2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 119px;
}

.depoimentos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 86px;
    /* flex-wrap: wrap; */
    width: 500px;
    /* height: 180px; */
}

#depoimentos h1 {
    color: #2e948a;
    font-weight: 700;
    font-size: 37px;
    text-align: left;
    padding: 119px 10px 78px 0px;
}

.depoimentos h2 {
    font-style: light;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    padding: 5px;
    width: 380px;
}

.depoimentos h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    padding: 5px;
}
.depos {
    width: 104px;
    height: 104px;
    padding-right: 100px;
}

#maisconteudo {
    box-sizing: border-box;
    width: auto;
    background-color: #F7F7F7;
}

#maisconteudo h1{
    text-align: left;
    padding-top: 70px;
    padding-bottom: 55px;
    padding-left: 40px;
    color: #2e948a;
    font-weight: 700;
    font-size: 37px;
}
.retangulo{
    background: #c4c4c4;
    width: 319px;
    height: 193px;
}

#maisconteudo button{
    background-color: #F7F7F7;
}
.griditens{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
}

.griditens h3 {
    width: 319px;
    font-size: 18px;
    font-weight: 400;
}

.itemblog{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;
    padding-top: 23px;
    padding-bottom: 50px;
}

.itemblog h2{
    color: #2e948a;
    padding-left: 0px;
    font-weight: 700;
    font-size: 27px;
    width: 319px;
}

#botaoposts{
    display: flex;
    justify-content: center;
    padding-bottom: 63px;
}

footer {
    background: #419488;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

.listafooter {
    list-style: none;
    padding: 8px;
}


.listafooter a {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.listafooter a:hover {
    color: #d1cdcd;
}

.botoesfooter {
    display: flex;
    flex-direction: column;
}

.botaofooter {
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    width: 300px;
    height: 50px;
    margin: 8px;
    color: #FFFFFF;
    background-color: #419488;
    cursor: pointer;
}

.botaofooter a{
    text-decoration: none;
    color: #FFFFFF;
}

.botaofooter:hover {
    background-color: #30655d;
}

.bannercontato{
    display: flex;
    flex-wrap: flex;
    padding: 200px;
    justify-content: space-around ;
    align-items: center;
}
.bannercont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (max-width:1090px) {
    .logo {
        width: 150px;
    }

    .listamenu a {
        font-weight: 500;
        font-size: 18px;

    }

    #bannerprincipal{
        padding: 0px 0px;
        justify-content: space-around;
    }
    
    #ilustra-banner{
        width: 40%;
        height: 40%;
        margin-top: 10%;
        margin-bottom: 7%;
    }
    
    .textobanner h1{
        color: #f5418e;
        width: 312px;
        font-size: 45px;
    }
    
    .textobanner h2{
        width: 312px;
    }
    .cardcursospost h3 {
        width: 300px;
    }

    .botaobranco{
        font-size: 25px;
    }
    
    #depoimentos {
        padding-left: 0px;
    }
    
    .depoimentos{
        padding-bottom: 86px;
        width: 600px;
    }
    
    #depoimentos h1 {
        color: #2e948a;
        padding-left: 10%;
    }
    
    
    
    #maisconteudo h1{
        text-align: left;
        padding-top: 70px;
        padding-bottom: 55px;
        padding-left: 40px;
        color: #2e948a;
        font-weight: 700;
        font-size: 37px;
    }
    
    .botaobranco2 {
        width: 200px;
        font-size: 18px;
        margin: 0px 0px 30px 0px !important; 
        padding: 8px;
    }

    .botaofooter {
        font-size: 18px;
        width: 200px;
        
    }
}


@media only screen and (max-width:700px) {
    .logo {
        width: 90px;
    }

    .menu {
        padding: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .listamenu a {
        font-weight: 500;
        font-size: 13px;
        padding-left: 10px;
        line-height: 0px;
    }

    .textobanner h1{
        width: 320px;
        text-align: left;
        line-height: 35px;
        font-size: 30px;
        padding: 0px;
        padding-top: 40px;
        padding-left: 40px;
    }

    .textobanner h2{
        width: 320px;
        font-size: 20px;
        padding: 0px;
        padding-top: 10px;
        padding-left: 40px;
    }
    .textobanner h3{
        width: 320px;
        text-align: start;
    }

    .botaobranco{
        width: 200px;
        font-size: 18px;
        margin: 20px 0px 40px 40px !important; 
        padding: 8px;
    }

    #bannerprincipal button{
     margin: 5% 25% 10% 25%;
    }

    #ilustra-banner{
        display: none;
    }
    .cardcursospost p{
        margin: 0% 10%;
        font-size: 96%;
        
    }
    .cardcursospost h3{
        width: 300px;
        
    }
    #conhecacursospost{
        padding-top: 0px;
    }
    
    .cardcursospost{
        padding-bottom: 70px;
    }

    #depoimentos{
        padding-left: 0px;
    }

    #depoimentos2{
        padding: 10px 0px;
    }

    #depoimentos h1{
        font-size: 140%;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 0px;
    }

    .depoimentos{
        padding-right: 0px;
        margin-left: 20px;
        padding-bottom: 40px;
        width: 320px;
        justify-content: center;
    }

    .depoimentos h2{
       width: 200px;
       font-size: 16px;
    }
    .depoimentos h3{
        font-size: 16px;
     }

    .depos{
        padding: 0px 0px 0px 0px;
    }

    .depos img{
        width: 84px;
        height: 84px;
    }

    .griditens{
        padding-bottom: 0px;
        width: 100%;
        justify-content: center;
        padding: 0px;
        margin: 0px;
    }
 
    .itemblog{
        width: 320px;
        padding-bottom: 20px;
        align-items: center;
       
    }
    .itemblog h2{
        width: 100% !important;
        text-align: center;
       
    }
    .itemblog h3{
        width: 100% !important;
        text-align: center;
    }
 

    #maisconteudo h1{
        font-size: 135%;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 10px;
        padding-left: 0px;
        width: 100%;
    }

    .retangulo{
        width: 280px;
        height: 140px;
    }

    #maisconteudo h3{
        font-size: 100%;
        padding: 0%;
        width: 100%;
    }
   
    .botaobranco2 {
        width: 200px;
        font-size: 18px;
        margin: 0px 0px 30px 0px !important; 
        padding: 8px;
    }
    #botaoposts {
       padding: 0px 0px 0px 0px;
    }
    
    footer {
        padding: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .listafooter {
        padding: 0px;

    }

    .listaul {
        padding-left: 0px;
    }

    .listafooter a {
        font-size: 11px;
        line-height: 23px;
    }

    .botaofooter {
        font-size: 12px;
        line-height: 0px;
        width: 120px;
        height: 25px;
        margin: 4px;
    }

}